<img
  id="indicator"
  class="htmx-indicator center"
  src="/img/puff.svg"
  width="50"
/>
<table>
  <thead>
    <tr>
      <th data-i18n="bt_table_name">Nom</th>
      <th data-i18n="bt_table_mac">Adresse MAC</th>
      <th data-i18n="bt_table_status">Statut</th>
      <th data-i18n="bt_table_action">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#devices}}
    <tr>
      <td>{{name}}</td>
      <td>{{mac}}</td>
      <td>{{status}}</td>
      <td>
        <button
          class="matrix-button {{connect-class}}"
          hx-put="/bluetooth?mac={{mac}}&action=connect"
          hx-indicator="#indicator"
          data-i18n="bt_btn_connect"
        >
          Connecter
        </button>

        <button
          class="matrix-button {{disconnect-class}}"
          hx-put="/bluetooth?mac={{mac}}&action=disconnect"
          hx-indicator="#indicator"
          data-i18n="bt_btn_disconnect"
        >
          Deconnecter
        </button>

        <button
          class="matrix-button {{add-class}}"
          hx-post="/bluetooth?mac={{mac}}"
          hx-indicator="#indicator"
          data-i18n="bt_btn_add"
        >
          Ajouter
        </button>

        <button
          class="matrix-button {{delete-class}}"
          hx-delete="/bluetooth?mac={{mac}}"
          hx-indicator="#indicator"
          data-i18n="bt_btn_delete"
        >
          Supprimer
        </button>
      </td>
    </tr>
    {{/devices}}
  </tbody>
</table>
